@model IEnumerable<DatabaseLayer.BookIssuesTable>

@{
    ViewBag.Title = "Reserve Books";
}



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Reserve Books</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Book Title
                        </th>
                        <th>
                            Employee
                        </th>

                        <th>
                            Issue Copies
                        </th>
                        <th>
                            Issue Date
                        </th>
                        <th>
                            Return Date
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Description
                        </th>


                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BooksTable.BookTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeTable.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IssueCopies)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IssueDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReturnDate)
                            </td>
                            <td>

                                <p class="text-success" style="font:bold">Reserve</p>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.ReserveNoOfCopies)
                                </td>*@

                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.UserName)
                            </td>
                            <td>
                                @Html.ActionLink("Return Book", "ReturnBook", new { id = item.IssueBookID }, new { @class = "btn btn-primary" })

                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
</div>



